<h3>投稿一覧</h3>
<%= button_to "新規投稿へ", new_sport_path %>
<div class="sports-container">
  <% @sports.each do |t| %>
    <div class="sport">
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.theme %>
      <%= link_to "read more", sport_path(t.id) %>
     
    </div>
  <% end %>
</div>