/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: ”チェックポイント”;
    background:ivory;
    background-position: contain;
    background-repeat: no-repeat;
  }

  header {
    background-color: #f3ae36;
    height: 120px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  header a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
  }
  header h1 {
    color: rgb(16, 13, 13);
    margin-top: 12px;
    margin-left: 15px;
  }
  .header-list {
    display: flex;
    text-align: end;
    margin-right: 1%;
    margin-left: auto;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  .img-box {
    margin:0 auto;
 }
  
  .image {
    width: 100%;
    height: 725px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-size: cover;
    background-position: center center;
    
    animation: image-switch-animation 27s infinite;
  }
  .src1 {
    background-image: url(FUMIDASU2023);
  }
  .src2 {
    background-image: url(image2.jpeg);
  }
  .src3 {
    background-image: url(image3.jpeg);
  }
  .src4 {
    background-image: url(image5.jpeg);
  }
  .src5 {
    background-image: url(IMG_6654.JPG);
  }
  @keyframes image-switch-animation {
    0%{ opacity: 0;}
    5%{ opacity: 1;}
    25%{ opacity: 1;}
    30%{ opacity: 0;}
    100%{ opacity: 0;}
  }
  .image:nth-of-type(1) {
    animation-delay: 0s;
  }
  .image:nth-of-type(2) {
    animation-delay: 7s;
  }
  .image:nth-of-type(3) {
    animation-delay: 12s;
  }
  .image:nth-of-type(4) {
    animation-delay: 17s;
  }
  .image:nth-of-type(5) {
    animation-delay: 22s;
  }
  .top{
    position: relative;
  }
  .main-container{
    background-image: url(catch2.png);
    background-repeat:no-repeat;
    width: 100%;
    height: 725px;
    position: absolute;
    top: 725px;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
  }
  
  
  
  
  