.calendar{
    margin-top: 50px;
}
.title{
    margin-top: 40px;
    margin-left: 40px;
}
.content{
    margin-top: 30px;
    margin-left: 40px;
}
.submit{
    margin-top: 30px;
    margin-right: 0px;
}
